/* ==========================================================================
   Variables
   ========================================================================== */
/*
 * These variables give you access to change many of the values in Scales.
 * You should also add your own project specific variables to this file.
 * Some values are in px for familiarity, but are converted to em.
 */

// Vertical Rhythm & Modular Scale
$base-font-size: 16px;
$base-line-height: 24px;

$base-size: $base-font-size $base-line-height;
$ratio: fourth();

/*
 * At 16px $base-font-size your available modular scale values are:
 *
 ms(-5)  =   8px
 ms(-4)  =   9px
 ms(-3)  =  10px
 ms(-1)  =  12px
 ms(0)   =  16px
 ms(1)   =  18px
 ms(2)   =  21px
 ms(3)   =  24px
 ms(4)   =  28px
 ms(5)   =  32px
 ms(6)   =  38px
 ms(7)   =  43px
 ms(8)   =  51px
 ms(9)   =  57px
 ms(10)  =  67px
 *
 */

/*
 * This will output the modular scale values when you compile. Comment out to hide.
 */
// @include ms-list();

/*
 * A good primer on Compass Vertical Rhythm. Read this before you get lost:
 * http://atendesigngroup.com/blog/vertical-rhythm-compass
 */
@include establish-baseline;

/*
 * A background image for making sure your elements line up to you baseline.
 *
 * Uncomment to use.
 */
 // $grid-background-baseline-color: pink;
 // html{@include debug-vertical-alignment();}


/**
 * Responsive design breakpoints
 *
 * Scales is a mobile-first framework, so it needs to know when you want
 * to begin applying "non-mobile" styles to the design patterns.
 *
 * It is not advisable to set breakpoints in responsive designs based on specific
 * device widths. Instead, breakpoints should be applied when your content begins
 * to look awkward. If there are other widths that you need to specifically support
 * and a named variable makes sense, feel free to add it here (ex. $desk-start: 64.0625em; // 1025px ).
 *
 * Using ems instead of px allows your breakpoints to be relative to your $base-font-size.
 *
 * Usage:
    @media screen and (min-width: $palm-end) { [Styles Here] }
 */
$palm-end: 30.0625em; // 481px
$tab-end: 52em;       // 833px


/*
 * Font Size Variables
 */
$xx-small-px:  ms(-5);
$x-small-px:   ms(-3);
$small-px:     ms(-1);
$norm-px:      $base-font-size;
$med-px:       ms(1);
$large-px:     ms(3);
$x-large-px:   ms(5);
$xx-large-px:  ms(7);
$xxx-large-px: ms(12);



/*
 * Easier way to declare your font stack.
 */
$fontSans: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
$fontSerif: "Hoefler Text", "Georgia", Georgia, serif, serif;
$fontLogo: 'Lily Script One', "Hoefler Text", "Georgia", fantasy, cursive;
$fontHeaders: 'Open Sans Condensed', $fontSans;


// Descriptive Colors
$light: #ffffff;

$eggplant: #531946;
$darkEggplant: #30162B;

$pink: #E30842;

$teal: teal;

$lightOrange: #FFD191;
$orange: #FC9A0F;


// Functional Colors
$backgroundColor: $eggplant;
$color: $light;

$logoColor: $pink;
$titleColor: $teal;
$shadowColor: $darkEggplant;

$linkColor: $orange;
$linkInteractionColor: $lightOrange;


// Responsive Breakpoints
$tab-end: 768px;
$palm-end: 30.0625em; // 481px
