@charset "UhTF-8";

@import "lib/normalize";
@import "lib/fontawesome/font-awesome";

@import "compass";
@import "modular-scale";

@import "vars";

html {
    background: $backgroundColor;
    color: $light;
    font-family: $fontSans;
    text-align: center;
}

body {
    margin: 0 auto;
    text-shadow: 2px 2px 0px $shadowColor;
    width: 800px;
    @include rhythm(1, 0, 0, 1);

    @media screen and (max-width: 800px) {
        width: 95%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontHeaders;
    text-shadow: 2px 2px 0px $darkEggplant;
}

header {
    @include trailer(2);

    h1 {
        color: $logoColor;
        font-family: $fontLogo;
        @include adjust-font-size-to($xxx-large-px);
        @include rhythm(0, 0, 0, 0, $xxx-large-px);
    }

    h2 {
        color: $titleColor;
        @include adjust-font-size-to($x-large-px, 1);
        @include rhythm(.25, 0, 0, 0, $x-large-px);
    }

    h3 {
        @include adjust-font-size-to($med-px, 1);
        @include rhythm(2, 0, 0, 0, $med-px);
    }

    @media screen and (max-width: $palm-end + 10) {
        h1 {@include adjust-font-size-to($xx-large-px);}
        h2 {@include adjust-font-size-to($large-px);}
        h3 {
            @include adjust-font-size-to($small-px);
            @include rhythm(1, 0, 0, 0, $small-px);
        }
    }
}

a {
    color: $linkColor;
    @include transition(all .4s);

    &:hover {
        color: $linkInteractionColor;
        @include transition(all .4s);
    }
}

.social {
    margin: 0 auto;
    padding: 0;
    @include clearfix;
    @include rhythm(1, 0, 0, 1);

    a {
        display: block;
        text-decoration: none;
        @include adjust-font-size-to(ms(15));

        &:hover {
            @include scale(1.2);
        }

        @media screen and (max-width: $palm-end + 10) {
            @include adjust-font-size-to(ms(12));
        }
    }

    li {
        display: inline-block;
        list-style-type: none;
        margin-left: 40px;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }

        @media screen and (max-width: $palm-end + 10) {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.jewlofthelotus {
    display: inline-block;
    font-family: $fontLogo;
    text-decoration: none;
    @include adjust-font-size-to($large-px);

    &:before {
        color: transparent;
        content: "my photography blog";
        font-family: $fontSans;
        font-style: italic;
        letter-spacing: 4px;
        margin-left: -5px;
        position: absolute;
        text-shadow: 0 0 0 transparent;
        @include adjust-font-size-to($small-px, 1.3);
        @include transition(all .4s);
    }

    &:hover {
        color: transparent;
        text-shadow: 0 0 0 transparent;

        &:before {
            color: $linkInteractionColor;
            text-shadow: 2px 2px 0px $shadowColor;
            @include scale(1.2);
        }
    }
}

footer {
    color: $linkInteractionColor;
    @include adjust-font-size-to($small-px);
    @include leader(2, $small-px);

    @media screen and (max-width: $palm-end + 10) {
        @include adjust-font-size-to($x-small-px);
    }
}
